{% extends 'layouts/page.html' %}

{% block content %}
<div class="page question-page">

  <h2 class="question-title">{{question.title}}</h2>
  <!-- <p class="question-body">{{question.body}}</p> -->
  <span class="question-author">author : {{question.author.username}}</span>



  {% if user.is_authenticated %}
  <form method="POST" action="" class="response-form">
    {% csrf_token %}
    <div class="fieldWrapper">
      <label for="{{response_form.body.id_for_label}}">Your answer:</label>
      {{response_form.body}}
    </div>
    <input type="submit" value="Submit" class="submit-button" />
  </form>
  {% endif %}

</div>
{% endblock %}